#weekrows {
	display: block;
	height: 440px;
	margin: 5px;
	margin-top: 2px;
}

.daynumber {
	float: left;
	position: absolute;
	margin-left: 2px;
	margin-top: 2px;
}

.monthentry {
	position: relative;
	height: 18px;
	margin-left: 25px;
	background-color: #FFAC40;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: inset 0px 0px 12px #A65E00;
	-webkit-box-shadow: inset 0px 0px 12px #A65E00;
	box-shadow: inset 0px 0px 12px #A65E00;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 14px;
	white-space:nowrap;
	cursor: pointer;
}

.daytitle {
	height: 40px;
	width: 14.28%;
	float: left;
	margin: 0px;
	
}

.titlecontent {
	dispaly: block;
	height: 31px;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	background-color: #FFD973;
	padding-top: 5px;
	margin: 2px;
}

.monthday {
	display: block;
	position relativ;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 14pt;
}

.monthdaycontent {
	margin: 1px;
	background-color: #FFD973;
	height: 98%;
	overflow: auto;
}

#titlerow {
	display: block;
	height: 40px;
	margin: 0px;
	padding: 0px;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}