/* Color-Scheme-Id(http://colorschemedesigner.com/): 0H51Qw0w0w0w0
Palette URL: http://colorschemedesigner.com/#0H51Qw0w0w0w0*/
/* Colors
Primary Color:
				
FF9000	BF8130	A65E00	FFAC40	FFC273

Secondary Color A:
				
FFBA00	BF9830	A67900	FFCB40	FFD973

Secondary Color B:
				
FF4F00	BF5D30	A63400	FF7B40	FF9E73
*/
#main {
	height: 600px;
	background-color: #FFC273;
	margin: 0px;
	padding: 10px;
	min-width: 1000px;
}
#edit {
	padding: 10px;
}
#login {
	width: 300px;
	height: 140px;
	position: absolute;
	top: 100px;
	left: 350px;
	background-color: #FFAC40;
	background-image: linear-gradient(bottom, rgb(255,145,0) 0%, rgb(255,194,115) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,145,0) 0%, rgb(255,194,115) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,145,0) 0%, rgb(255,194,115) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,145,0) 0%, rgb(255,194,115) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,145,0) 0%, rgb(255,194,115) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,145,0)),
	color-stop(1, rgb(255,194,115))
);
	border: 2px solid #A65E00;
	margin-top: 150px;
	padding: 1.5em;
}

#login legend {
	background-color: #FF9000;
	border: 2px solid #A65E00;
	border-radius: 13px;
	-moz-border-radius: 13px;
	box-shadow: 0px 0px 6px #A65E00;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 20pt;
}

#login input {
	background-color: #FF9000;
	border: 0px;
	float: right;
	margin-bottom: 10px;
	width: 200px;
	-webkit-box-shadow: 1px -1px 2px 2px #A65E00;
	box-shadow: 1px -1px 2px 2px #A65E00; 
}
#login a {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
#login div {
	display: block;
	height: 25px;
	margin: 3px;
}
#logo {
	float: left;
	width: 100px;
	height: 100px;
}

#loginyac {
	width: 500px;
	height: 500px;
	margin: 0px auto;
	position: absolute;
	padding: 0px;
	left: 10%;
	top: 50px;
}

#yacimage {
	width: 600px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#title {
	margin-left: 110px;
	margin-right: 180px;
	margin-top: 0px;
	padding-top: 5px;
	height: 45px;
	background-color: #BF8130;
	text-align: center;
	font-size: 28pt;
}

#tabbar {
	padding: 0px;
	margin: 0px;
	height: 30px;
	background-color: #FFC273;
}
#menubar {
	height: 40px;
	margin: 10px;
	margin-left: 110px;
	margin-right: 180px;
	background-color: #A65E00;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffac40, endColorstr=#a65e00)";
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image: linear-gradient(bottom, rgb(166, 94, 0) 10%,
		rgb(255, 172, 64) 90% );
	background-image: -o-linear-gradient(bottom, rgb(166, 94, 0) 10%,
		rgb(255, 172, 64) 90% );
	background-image: -moz-linear-gradient(bottom, rgb(166, 94, 0) 10%,
		rgb(255, 172, 64) 90% );
	background-image: -webkit-linear-gradient(bottom, rgb(166, 94, 0) 10%,
		rgb(255, 172, 64) 90% );
	background-image: -ms-linear-gradient(bottom, rgb(166, 94, 0) 10%,
		rgb(255, 172, 64) 90% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(166,
		94, 0) ), color-stop(0.9, rgb(255, 172, 64) ) );
}

#info {
	float: right;
	width: 170px;
	height: 640px;
	background-color: #BF8130;
}

#calendar {
	height: 520px;
	margin: 5px;
	margin-right: 181px;
	margin-left: 0px;
	background-color: #FFAC40;
}

#analog_clock {
	margin: 10px;
}

#year {
	left: 0px;
	top: 0px;
	list-style-type: none;
	padding: 5px;
	margin: 0px;
	display: block;
}

#footer {
	position: fixed;
	margin-top: 10px;
	right: 10px;
	top: 650px;
	left: 10px;
	height: 20px;
	background-color: #FFAC40;
}
.month {
	width: 8.33%;
	height: 482px;
	float: left;
	background-color: #FFBA00;
	margin: 0px;
	padding: 0px;
}

.daylist {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	width: 100%;
}

.monthtitle {
	background-color: #FFD973;
	margin: 1px;
	margin-left: 2px;
	margin-right: 2px;
	height: 14px;
	padding: 0px;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
}

.day {
	background-color: #FFD973;
	margin: 1px;
	margin-left: 2px;
	margin-right: 2px;
	height: 14px;
	padding: 0px;
	font-size: 8pt;
	dsiplay: block;
	line-height: 9pt;
}

.daylabel {
	width: 32px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.entry {
	margin: 0px;
	margin-top: 0px;
	margin-left: 32px;
	height: 14px;
	text-decoration: none;
	background-color: #BF8130;
	color: white;
	z-index: 0;
	cursor: pointer;
	display: block;
}
.tab {
	float: left;
	width: 120px;
	height: 18px;
	margin-right: 1px;
	padding: 6px;
	background-color: #FF9000;
	text-align: center;
	cursor: pointer;
}
.selected {
	background-color: #FFAC40;
}
h1 {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0px;
	background-color: #FFC273;
}

html {
	padding: 0px;
	text-shadow: 0px 0px 4px #FF9000;
	
}