.daycolumn {
	width: 14.28%;
	float: left;
}

.daycolumntitle {
	text-align: center;
	font-weight: bold;
}

.hour {
	height: 18.5px;
	margin: 1px;
	background-color: #FFD973;
}

.hourlabel {
	height: 18.5px;
	margin: 1px;
	white-space: nowrap;
}
.entry {
	margin-left: 1px;
	margin-right: 1px;
	position: absolute;
	background-color: #FF9000;
	overflow: hidden;
	cursor: pointer;
	min-height: 18px;
	display: block;
}

.entrycontent {
	margin: 3px;
}

.entrycontent:first-line {
	text-align: center;
	font-weight: bold;
}

#weekview {
	padding-top: 4px;
}
#times {
	width: 40px;
	float:left;
}

#weekdays {
	position: relative;
	height: 490px;
	margin-left: 40px;
}