.month {
	width: 8.33%;
	height: 482px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.daylist {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	width: 100%;
}

.monthtitle {
	background-color: #FFD973;
	margin: 1px;
	margin-left: 2px;
	margin-right: 2px;
	height: 14px;
	padding: 0px;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
}

.day {
	background-color: #FFD973;
	margin: 1px;
	margin-left: 2px;
	margin-right: 2px;
	height: 14px;
	padding: 0px;
	font-size: 8pt;
	display: block;
	line-height: 9pt;
}

.daylabel {
	width: 32px;
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.entry {
	white-space: nowrap;
	margin: 0px;
	margin-top: 0px;
	margin-left: 32px;
	height: 14px;
	text-decoration: none;
	background-color: #BF8130;
	color: white;
	z-index: 0;
	cursor: pointer;
	display: block;
	overflow: hidden;
}